<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Hitung Vokal</title>
</head>
<body>
    <h1>Menentukan Huruf Vokal</h1>
    <h3>Masukan kalimat atau kata dibawah</h3>
    <form action="#" th:action="@{/}" th:object="${vModel}" method="POST">
        <textarea rows="5" cols="30" th:field="*{kalimat}"></textarea>
        <p><input type="submit" class="ui-button" name="cari" value="Submit"></p>
        <table cellpadding="3">
            <tr th:each="hasil : ${hasil}">
                <th th:text="${hasil}">&nbsp;</th>
            </tr>
        </table>
    </form>
</body>
</html>