<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Kalkulator Sederhana</title>
</head>
<body>
    <h1>Kalkulator Sederhana</h1>
    <form action="#" th:action="@{/}" th:object="${kalkulator}" method="POST">
        <p>Input Angka Pertama</p>
        <input type="text" th:field="*{a}">
        <p>Input Angka Kedua</p>
        <input type="text" th:field="*{b}">
        <p>
            <input type="submit" class="ui-button" name="tambah" value="Tambah (+)">
            <input type="submit" class="ui-button" name="kurang" value="Kurang (-)">
            <input type="submit" class="ui-button" name="kali" value="Kali (*)">
            <input type="submit" class="ui-button" name="bagi" value="Bagi (/)">
        </p>
        <h3><p th:text="'Hasil : ' + ${hasil}"></h3>
    </form>
</body>
</html>