<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.com">
<head>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8">
    <title>Ganjil Genap</title>
</head>
<body>
<h1>Menentukan Bilangan Ganjil Atau Genap</h1>
<h3>Inputkan Angka Awal dan Angka Akhir</h3>
<form action="#" th:action="@{/}" th:object="${ggModel}" method="POST">
    <input type="text" th:field="*{awal}">
    <input type="text" th:field="*{akhir}">
    <p><input type="submit" class="button" name="cari" value="Submit"> <input type="reset" value="Reset"></p>
    <table border="2">
        <tr>
            <th>Output</th>
        </tr>
        <tr th:each="hasil : ${hasil}">
            <td th:text="${hasil}">&nbsp;</td>
        </tr>
    </table>
</form>
</body>
</html>